name: Test frontend

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  frontend-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build CSS
        run: npm run styles

      - name: Minify JS
        run: npm run js

      - name: Minify HTML
        run: |
          pip install mkdocs mkdocs-material
          mkdocs build
          npm run html
